.subTitle {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating {
  margin-right: 12px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.ratingItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 524px) {
  .subTitle {
    flex-direction: column;
    align-items: flex-start;
  }
}
