.container {
  padding: 110px 64px 52px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.notFound {
  text-align: center;
}

@media (max-width: 728px) {
  .container {
    min-width: 400px;
  }
}

@media (max-width: 468px) {
  .container {
    width: 100%;
    padding: 110px 32px 32px;
  }
}
