.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid vaR(--color-gray-lighter);
  background: var(--color-gray-lightest);
  z-index: 100;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 64px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.logoImg {
  height: 16px;
}

.nav {
  display: flex;
  gap: 32px;
  margin: 0 auto;
}

.link:hover,
.active {
  color: var(--color-red-light);
}

@media (max-width: 468px) {
  .container {
    padding: 24px 32px;
    min-width: 430px;
  }
}
