.filtersContainer {
  width: 100%;
  max-width: 360px;
  background-color: var(--color-white);
}

.filtersLabel {
  color: var(--color-gray-dark);
  font-weight: var(--weight-medium);
  margin-bottom: 32px;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-top: 40px;
}

.filtersBtn {
  display: none;
}
.closeBtn {
  display: none;
}

@media (max-width: 1440px) {
  .filtersContainer {
    position: fixed;
    z-index: 10;
    top: 60px;
    left: -440px;
    height: calc(100vh - 60px);
    padding: 20px;
    width: 430px;
    max-width: 430px;
    transition: left 0.5s ease;
    overflow-x: auto;
  }
  .filtersBtn {
    display: flex;
    margin-left: auto;
  }
  .closeBtn {
    display: flex;
  }
}
@media (max-width: 568px) {
  .filtersBtn {
    margin: 0;
  }
}

.filtersContainer.openFilters {
  left: 0;
}
