.container {
  width: calc(100% - 424px);
}

.button {
  margin: 0 auto;
}

.noResults {
  text-align: center;
}

.loaderContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
    max-width: 888px;
    margin: 0 auto;
  }
}
